
.admin-form {
	width: 600px;
	padding: 50px 35px 50px 35px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.upload-icon {
	font-size: 32px;
	color: #999;
}
.ant-upload-text {
	margin-top: 8px;
	color: #666;
}
.input-info{
	color: grey;
	font-size: 12px;
}