
.register-form {
	width: 600px;
	padding: 50px 35px 50px 35px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

#username, #email{
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    cursor: not-allowed;
    opacity: 1;
}
.input-info{
	color: grey;
	font-size: 12px;
}