<div @fade class="root">

	<!-- Component Header -->
	<div class="row">
		<div class="col-md-12 d-flex justify-content-center align-items-center mb-2">

			<div>
				<h4>Modifier profil</h4>
			</div>

		</div>
	</div>
	<!-- End Component Header -->

	<!-- User status -->
	<div class="row">
		<div class="col-sm-12 mt-5 mb-5">
			<nz-steps [nzCurrent]="0">
				<nz-step nzTitle="Modification" nzIcon="form"></nz-step>
				<nz-step nzTitle="Confirmation par l'amin" nzIcon="solution"></nz-step>
				<ng-template #iconTemplate>
					<i nz-icon type="smile"></i>
				</ng-template>
			</nz-steps>
		</div>
	</div>
	<!-- End User status -->

	<div class="row">
		<div class="col-lg-12 d-flex justify-content-center align-items-center">
			<form class="register-form" nz-form [formGroup]="userForm" (ngSubmit)="submitUserForm()">
				
				<!-- email form control -->
				<nz-form-item class="mt-3">
					<nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Email</nz-form-label>
					<nz-form-control [nzSm]="14" [nzXs]="24">
						<input [attr.disabled]="true" nz-input formControlName="email" id="email"/>

						<!-- input-info -->
						<nz-form-explain>
							<span class="input-info">Ce champ n'est pas modifiable.</span>
						</nz-form-explain>
						<!-- End input-info -->

						<nz-form-explain *ngIf="userForm.get('email')?.dirty && userForm.get('email')?.errors">
							<ng-container *ngIf="userForm.get('email')?.hasError('required')">
								Saisissez une adresse email.
							</ng-container>
							<ng-container *ngIf="userForm.get('email')?.hasError('email')">
								Saisissez une adresse email valide.
							</ng-container>
							<ng-container *ngIf="userForm.get('email')?.hasError('maxlength')">
								Email trop long.
							</ng-container>
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>
				<!-- End email form control -->

				<!-- oldPassword form control -->
				<nz-form-item class="mt-3">
					<nz-form-label [nzSm]="6" [nzXs]="24" nzFor="oldPassword" nzRequired>Ancien MDP</nz-form-label>
					<nz-form-control [nzSm]="14" [nzXs]="24">
						<nz-input-group [nzSuffix]="oldPwdEyeTemplate">
							<input
								nz-input
								[type]="oldPasswordVisible ? 'text' : 'password'"
								id="oldPassword"
								formControlName="oldPassword"
							/>
						</nz-input-group>
						<ng-template #oldPwdEyeTemplate>
							<i nz-icon class="cursor-pointer" [nzType]="oldPasswordVisible ? 'eye' : 'eye-invisible'" (click)="oldPasswordVisible = !oldPasswordVisible"></i>
						</ng-template>

						<nz-form-explain
							*ngIf="userForm.get('oldPassword')?.dirty && userForm.get('oldPassword')?.errors"
						>
							<ng-container *ngIf="userForm.get('oldPassword')?.hasError('required')">
								Saisissez l'ancien mot de passe.
							</ng-container>
							<ng-container *ngIf="userForm.get('oldPassword')?.hasError('maxlength')">
								Mot de passe trop long.
							</ng-container>
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>
				<!-- End oldPassword form control -->

				<!-- password form control -->
				<nz-form-item class="mt-3">
					<nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Nouveau MDP</nz-form-label>
					<nz-form-control [nzSm]="14" [nzXs]="24">
						<nz-input-group [nzSuffix]="eyeTemplate">
							<input
								nz-input
								[type]="passwordVisible ? 'text' : 'password'"
								id="password"
								formControlName="password"
							/>
						</nz-input-group>
						<ng-template #eyeTemplate>
							<i nz-icon class="cursor-pointer" [nzType]="passwordVisible ? 'eye' : 'eye-invisible'" (click)="passwordVisible = !passwordVisible"></i>
						</ng-template>

						<nz-form-explain
							*ngIf="userForm.get('password')?.dirty && userForm.get('password')?.errors"
						>
							<ng-container *ngIf="userForm.get('password')?.hasError('required')">
								Saisissez un nouveau mot de passe.
							</ng-container>
							<ng-container *ngIf="userForm.get('password')?.hasError('maxlength')">
								Mot de passe trop long.
							</ng-container>
							<ng-container *ngIf="userForm.get('password')?.hasError('minlength')">
								Mot de passe doit être au minimum de 6 caractères.
							</ng-container>
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>
				<!-- End password form control -->

				<!-- password_confirmation form control -->
				<nz-form-item class="mt-3">
					<nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password_confirmation" nzRequired>Confirmation MDP</nz-form-label>
					<nz-form-control [nzSm]="14" [nzXs]="24">
						<input nz-input type="password" formControlName="password_confirmation" id="password_confirmation" />
						<nz-form-explain
							*ngIf="userForm.get('password_confirmation')?.dirty && userForm.get('password_confirmation')?.errors"
						>
							<ng-container *ngIf="userForm.get('password_confirmation')?.hasError('required')">
								Confirmer votre mot de passe.
							</ng-container>
						</nz-form-explain>

						<nz-form-explain *ngIf="(userForm.get('password')?.dirty || userForm.get('password_confirmation')?.dirty) && userForm.errors?.misMatch">
							<ng-container>
								<span class="c-red">Confirmation invalide.</span>
							</ng-container>
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>
				<!-- End password_confirmation form control -->

				<hr class="mt-5 mb-5">

				<!-- Logo form control -->
				<nz-form-item class="mt-3">
					<nz-form-label [nzSm]="6" [nzXs]="24" nzFor="logo">Logo</nz-form-label>
					<nz-form-control [nzSm]="14" [nzXs]="24">
						<div class="clearfix">
							<nz-upload
								nzName="user-logo"
								[nzAction]="logoUrl"
								nzListType="picture-card"
								[(nzFileList)]="fileList"
								[nzShowButton]="fileList.length < 1"
								[nzShowUploadList]="showUploadList"
								[nzBeforeUpload]="beforeUpload"
								[nzPreview]="handlePreview"
								(nzChange)="handleChange($event)"
							>
								<i nz-icon [nzType]="'plus'" class="upload-icon" ></i>
								<div class="ant-upload-text">Upload</div>
							</nz-upload>
							<nz-modal
								[nzVisible]="previewVisible"
								[nzContent]="modalContent"
								[nzFooter]="null"
								(nzOnCancel)="previewVisible = false"
							>
								<ng-template #modalContent>
								<img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
								</ng-template>
							</nz-modal>
						</div>
						<nz-form-explain *ngIf="errorLogo">
							<span class="c-red d-block">{{ errorLogo }}</span>
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>
				<!-- End Logo form control -->

				<!-- Username form control -->
				<nz-form-item class="mt-3">
					<nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="username">Nom d'utilisateur</nz-form-label>
					<nz-form-control [nzSm]="14" [nzXs]="24">
						<input [attr.disabled]="true" nz-input formControlName="username" id="username"/>

						<!-- input-info -->
						<nz-form-explain>
							<span class="input-info">Ce champ n'est pas modifiable.</span>
						</nz-form-explain>
						<!-- End input-info -->
						
						<nz-form-explain *ngIf="userForm.get('username')?.dirty && userForm.get('username')?.errors">
							<ng-container *ngIf="userForm.get('username')?.hasError('required')">
								Saisissez un nom d'utilisateur.
							</ng-container>
							<ng-container *ngIf="userForm.get('username')?.hasError('maxlength')">
								Nom d'utilisateur trop long.
							</ng-container>
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>
				<!-- End Username form control -->

				<!-- canal form control -->
				<nz-form-item class="mt-3">
					<nz-form-label [nzSm]="6" [nzXs]="24" nzFor="canal" nzRequired>Canal</nz-form-label>
					<nz-form-control [nzSm]="14" [nzXs]="24">
						<nz-select
							id="canal"
							formControlName="canal"
							nzPlaceHolder="Café, Hotel ..."
						>
							<nz-option nzValue="Hotel" nzLabel="Hotel"></nz-option>
							<nz-option nzValue="Cafe" nzLabel="Café"></nz-option>
							<nz-option nzValue="Restaurant" nzLabel="Restaurant"></nz-option>
							<nz-option nzValue="Supermarche" nzLabel="Supermarché"></nz-option>
							<nz-option nzValue="PDV" nzLabel="Point de vente"></nz-option>
						</nz-select>
						
						<nz-form-explain
							*ngIf="userForm.get('canal')?.dirty && userForm.get('canal')?.errors"
						>
							Choisissez votre canal.
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>
				<!-- End canal form control -->

				<!-- address form control -->
				<nz-form-item class="mt-3">
					<nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="address">Adresse</nz-form-label>
					<nz-form-control [nzSm]="14" [nzXs]="24">
						<input nz-input formControlName="address" id="address" />
						<nz-form-explain *ngIf="userForm.get('address')?.dirty && userForm.get('address')?.errors">
							<ng-container *ngIf="userForm.get('address')?.hasError('required')">
								Saisissez votre adresse.
							</ng-container>
							<ng-container *ngIf="userForm.get('address')?.hasError('maxlength')">
								Adresse trop longue.
							</ng-container>
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>
				<!-- End address form control -->

				<!-- phone form control -->
				<nz-form-item class="mt-3">
					<nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>Téléphone</nz-form-label>
					<nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="userForm.controls['phone']">
						<nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
							<ng-template #addOnBeforeTemplate>
								<span>+212</span>
							</ng-template>
							<input formControlName="phone" id="'phone'" type="text" nz-input />
						</nz-input-group>
						<nz-form-explain
							*ngIf="userForm.get('phone')?.dirty && userForm.get('phone')?.errors"
						>
							Saisissez votre numéro de téléphone.
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>
				<!-- End phone form control -->

				<!-- website form control -->
				<nz-form-item class="mt-3">
					<nz-form-label [nzSm]="6" [nzXs]="24" nzFor="website">Website</nz-form-label>
					<nz-form-control [nzSm]="14" [nzXs]="24">
						<nz-input-group [nzAddOnAfterIcon]="'global'">
							<input nz-input id="website" formControlName="website" placeholder="website.com" />
						</nz-input-group>
						<nz-form-explain
							*ngIf="userForm.get('website')?.dirty && userForm.get('website')?.errors"
						>
							Saisissez un website valide.
						</nz-form-explain>
					</nz-form-control>
				</nz-form-item>
				<!-- End website form control -->

				<!-- submit button -->
				<nz-form-item nz-row>
					<nz-form-control [nzSpan]="14" [nzOffset]="6">
						<a routerLink="/dashboard">
							<button nz-button>Annuler</button>
						</a>
						<button nz-button nzType="primary" class="ml-4 float-right" [nzLoading]="editLoader">Modifier</button>
					</nz-form-control>
				</nz-form-item>
				<!-- End submit button -->
			</form>
		</div>
	</div>
</div>