
<div @fade class="root">
	
	<!-- Component Header -->
	<div class="row">
		<div class="col-md-12 d-flex justify-content-center align-items-center mb-5">

			<div class="backward">
				<a routerLink="/cart">
					<button nz-button nzType="default">
						<i class="fas fa-shopping-cart mr-1"></i>
						Mon Panier
					</button>
				</a>
			</div>
			
			<div class="mt-5">
				<h4>
					<i class="fas fa-clipboard-list"></i>
					Commander
				</h4>
			</div>
		</div>
	</div>
	<!-- End Component Header -->

	<!-- Command Status -->
	<div class="row">
		<div class="col-sm-12 mb-3">
			<!-- Intact command -->
			<nz-steps [nzCurrent]="0" nzStatus="process">
				<nz-step nzTitle="Commander" nzDescription="Commander nos produits."></nz-step>
				<nz-step nzTitle="Confirmée" nzDescription="Confirmation par l'admin."></nz-step>
				<nz-step nzTitle="Livrée" nzDescription="Commande livrée avec succès."></nz-step>
			</nz-steps>
		</div>
	</div>
	<!-- End Command Status -->

	<!-- Products Table -->
	<div class="row">
		<div class="col-sm-12 mt-5">
			<nz-table nzTemplateMode nzBordered>
				<thead>
					<tr>
						<th></th>
						<th>Produit</th>
						<th>Prix Unitaire <span class="float-right">x</span></th>
						<th>Quantité <span class="float-right">=</span></th>
						<th>Prix Total</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let commandProductQuantity of command.products_quantities, index as i">
						<td class="text-center">
							<a
								nz-popconfirm
								[nzCancelText]="'Annuler'"
								[nzOkText]="'Supprimer'"
								[nzOkType]="'danger'"
								nzTitle="Êtes-vous sûr de supprimer ce produit?"
								(nzOnConfirm)="deleteClicked(commandProductQuantity.product.id)"
								nzPlacement="topLeft"
								class="trash"
							>
								<i class="fas fa-trash-alt cursor-pointer c-red"></i>
							</a>
						</td>
						<td>
							<span (click)="showProductModal(commandProductQuantity.product)" class="cursor-pointer c-blue hover-blue" >
								{{ commandProductQuantity.product.name }}
							</span>
						</td>
						<td>
							<span *ngIf="commandProductQuantity.product.sold > 0" class="price-w-sold">
								{{ commandProductQuantity.product.price }} <span class="devise">DH</span>
							</span>

							<span>
								{{
									commandProductQuantity.product.price - (commandProductQuantity.product.price * commandProductQuantity.product.sold / 100)
								}}
								<span class="devise">DH</span>
							</span>

							<span class="ml-2" *ngIf="commandProductQuantity.product.sold > 0">
								(-{{ commandProductQuantity.product.sold }}%)
							</span>

							<span class="float-right">x</span>
						</td>
						<td>
							<nz-form-control style="display: inline-block;" nzValidateStatus="{{!commandProductQuantity.quantity ? 'error': ''}}">
								<nz-input-number [nzMin]="1" (ngModelChange)="refreshPrices($event, commandProductQuantity)" [(ngModel)]="commandProductQuantity.quantity"></nz-input-number>
							</nz-form-control>

							<span class="float-right mt-2">=</span>
							
						</td>
						<td>{{ commandProductQuantity.price }} Dh</td>
					</tr>
					<tr>
						<td [attr.colspan]="4"> <span class="float-right font-weight-500">=</span> <span class="float-right font-weight-500 mr-3">Total</span></td>
						<td class="bg-blue c-blue font-weight-500">{{ command.total_price }} Dh</td>
					</tr>
				</tbody>
			</nz-table>
			
			<!-- Edit Confirmation -->
			<div class="float-right mt-1 p-3 font-s-14">
				<button class="mr-3" nz-button nzType="default" (click)="cancelCommand()">Annuler</button>
				<button class="mr-3" nz-button nzType="primary" [nzLoading]="isCommandLoading" (click)="toCommand()">Commander</button>
			</div>
			<!-- End Edit Confirmation -->

			<!-- Infos message -->
			<div class="float-left mt-2 font-s-14 c-grey">

				<p>
					- Vous pouvez modifier cette commande avant la confirmation de l'admin.
				</p>

			</div>
		</div>
	</div>
	<!-- End Products Table -->
</div>
