
<div @fade class="root">

	<!-- Component Header -->
	<div class="row">
		<div class="col-md-12 d-flex justify-content-center align-items-center">
			<div class="backward">
				<button nz-button nzType="default" (click)="toDashboard()">
					<i nz-icon nzType="dashboard" nzTheme="fill"></i>
					Tableau de bord
				</button>
			</div>
			
			<div class="mt-5">
				<h4>
					<i class="fas fa-clipboard-list"></i>
					Mes Commandes
				</h4>
			</div>

			<div class="forward">
				<a routerLink="/cart">
					<button nz-button nzType="primary">
						<i class="fas fa-shopping-cart mr-1"></i>
						Mon Panier
					</button>
				</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 d-flex justify-content-center align-items-center mb-5">
			
			<div>
				<span *ngIf="notViewedNumber" class="c-red">
					Vous avez
					<div *ngIf="notViewedNumber === 1; then block1; else block2"></div>
					<ng-template #block1>une commande non vue!</ng-template>
					<ng-template #block2>{{ notViewedNumber }} commandes non vues!</ng-template>
				</span>
			</div>

		</div>
	</div>
	<!-- End Component Header -->

	<div class="center">
		<nz-table #filterTable [nzData]="listOfDisplayData" [nzScroll]="{ x: '500px' }" nzBordered>
			<thead (nzSortChange)="sort($event)" nzSingleSort>
				<tr>
					<th
						nzShowSort
						nzSortKey="code"
						nzLeft="0px"
						nzWidth="300px"
					>
						Code
					</th>
					<th
						nzWidth="400px"
						nzCustomFilter
					>
						Quantité x Produit
						<nz-dropdown nzTrigger="click" nzPlacement="bottomRight"
							[nzClickHide]="false" nzTableFilter #dropdown
						>
							<i
								nz-icon
								nzType="search"
								class="ant-table-filter-icon"
								[class.ant-table-filter-open]="dropdown.nzVisible"
								nz-dropdown
							></i>
							<div class="search-box">
								<input type="text" autofocus nz-input placeholder="Nom du produit" [(ngModel)]="searchForProduct" />
								<button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
									Chercher
								</button>
								<button nz-button nzSize="small" (click)="resetSearchForProduct()">Réinitialiser</button>
							</div>
						</nz-dropdown>
					</th>
					<th
						nzShowSort
						nzSortKey="status"
						nzShowFilter
						[nzFilterMultiple]="false"
						[nzFilters]="listOfStatus"
						(nzFilterChange)="filter($event)"
						nzWidth="300px"
					>
						Status
					</th>
					<th
						nzShowSort
						nzSortKey="total_price"
						nzWidth="300px"
					>
						Prix Total
					</th>
					<th
						nzRight="0px"
						nzWidth="300px"
					>
						Actions
					</th>
			  </tr>
			</thead>
			<tbody>
				<tr [class.notViewed-template]="!data.isViewed" *ngFor="let data of filterTable.data">
					<td nzLeft="0px">{{ data.code }}</td>
					<td>
						<span *ngFor="let productQuantity of data.products_quantities" class="d-block">
							{{ productQuantity.quantity }} x
							<span
								(click)="showProductModal(productQuantity.product)"
								class="cursor-pointer c-blue hover-blue"
							>
								{{ productQuantity.product.name }}
							</span>
						</span>
					</td>
					<td>
						<nz-tag *ngIf="data.status === -2" [nzColor]="'#ff373713'" class="c-red">
							Annulée par l'admin
						</nz-tag>
						<nz-tag *ngIf="data.status === -1" [nzColor]="'#ff373713'" class="c-red">
							Annulée par vous
						</nz-tag>
						<nz-tag *ngIf="data.status === 0" [nzColor]="'#70707013'" class="c-grey">
							Commandée
						</nz-tag>
						<nz-tag *ngIf="data.status === 1" [nzColor]="'#00c9a713'" class="c-green">
							Confirmée
						</nz-tag>
						<nz-tag *ngIf="data.status === 2" [nzColor]="'#377dff13'" class="c-blue">
							Livrée
						</nz-tag>
					</td>
					<td>{{ data.total_price }} Dh</td>
					<td nzRight="0px">
						<a routerLink="/command-details/{{data.id}}">
							<span class="cursor-pointer c-blue hover-blue">
								Détails
							</span>
						</a>
					</td>
				</tr>
			</tbody>
		</nz-table>
	</div>
</div>