/* 
-------------------------------------------------
sidebar
-------------------------------------------------
*/

/* .sidebar {
	padding: 20px;
	height: 100%;
	width: 350px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	overflow-x: hidden;
	background: #fff;
}

.x{
	margin-right: 7px;
	top: -10px;
	position: relative;
	float: right;
	font-size: 30px;
	color: #77838f96;
	cursor: pointer;
}
.pre-header .title{
	margin-top: 0;
	margin-bottom: 0 !important;
	font-weight: 500;
	font-size: 1rem !important;
	line-height: 1.5;
}
.header{
	margin-top: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #f0f2f5;
}
.user-icon-div{
	margin-left: 14px;
	margin-top: 8px;
	border: 2px !important;
}
.user-icon{
	padding: 10px;
	border-width: 2px;
	border-style: solid !important;
	border-radius: 5px;
	font-size: 25px;
}
.username{
	margin-top: 8px;
	margin-left: 8px;
	color: #1e2022;
	line-height: 1.5;
	font-size: 1rem;
	font-weight: 600 !important;
}
.category{
	display: block;
	color: #8c98a4;
	font-weight: 400;
	font-size: .75rem;
}
.options{
	padding: 8px;
	color: #8c98a4;
	cursor: pointer;
}
.options:hover{
	color: #8c98a4ad;
}
ul[nz-menu]{
	margin-top: 10px !important;
}
li[nz-menu-item]{
	margin-top: 7px;
	margin-bottom: 7px;
	font-size: .95rem;
	color: #97a4af;
	transition: 0.2s ease-in-out;
}
li[nz-menu-item]:hover{
	color: #377dff;
	background-color: #ffffff00;
}

.body{
	margin-top: 35px;
}
.body hr{
	margin-top: 2rem !important;
	margin: 1rem;
}
.menu-item{
	padding: .625rem;
	margin-right: 1rem;
	margin-left: 1rem;
	margin-top: .3rem;
	margin-bottom: .3rem;
	display: block;
	font-size: .95rem;
	color: #97a4af;
	border-radius: 0.25rem;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}
.menu-item:hover {
	color: #377dff;
	background-color: rgba(55, 125, 255, 0.1);
}
.active {
	color: #ff3737;
	background-color: rgb(255, 55, 55) !important;
}
.menu-item-icon{
	margin-left: 1rem;
}
.menu-item-legend{
	margin-left: 1rem;
}
.menu-item nz-badge {
	margin-right: 1rem;
	float: right;
}

.footer{
	position: absolute !important;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
	height: 210px;
	display: block;
}


*/



/* 
-------------------------------------------------
profile
-------------------------------------------------
*/
.profile-card {
	position: absolute;
	margin-top: 0px;
	margin-bottom: 30px;
	min-height: 120px;
	width: 100%;
	z-index: 10;
	background: #f0f2f5;
	background-image: linear-gradient(to top right, #f0f2f5, white); /* Standard syntax (must be last) */
	border: none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.invalid-account{
	padding-top: 30px;
}
.profile-photo{
	position: absolute;
	bottom: -30px;
	min-width: 90px;
	min-height: 90px;
	left: 40px;
	border-radius: 50%;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	background: rgb(238, 238, 238);
	background-image: linear-gradient(to top right, #f0f2f5, white); /* Standard syntax (must be last) */

}
.profile-photo-icon{
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.profile-photo-icon i{
	font-size: 16px;
	border-width: 2px;
	border-style: solid !important;
	border-radius: 50%;
	border-color: white;
}
.profile-legend{
	margin: 30px;
	font-size: 25px;
}
.profile-infos{
	padding: 30px;
	position: absolute;
	bottom: -20px;
	left: 140px;
	text-align: left;
}
.profile-options{
	padding: 30px;
	position: absolute;
	bottom: -2px;
	right: 140px;
	text-align: left;
}
.profile-name{
	display: inline-block;
	color: #1e2022;
	line-height: 1.5;
	font-size: 1rem;
	font-weight: 600 !important;
}
.profile-pen{
	padding: 5px 8px;
	border-radius: 2px;
}
.profile-pen:hover{
	background-color: #377dff13;
}
.profile-category{
	display: block;
	color: #8c98a4;
	font-weight: 400;
	font-size: .75rem;
}




/* 
-------------------------------------------------
main
-------------------------------------------------
*/
.main {
	margin-top: 140px;
	margin-left: 350px; /* Same as the width of the sidebar */
	margin-left: 0; 	/* Temporary (since sidebar is not there) */
	margin-bottom: 80px;
}

.center {
	text-align: center;
}
nz-badge{
	position: absolute;
	top: -10px;
	right: -10px;
	font-size: 40px !important;
	
}
.dashboard-card {
	min-height: 211px;
	width: 380px;
	margin: 15px;
	cursor: pointer;
	background: rgb(245, 245, 245);
	background-image: linear-gradient(to top right, #f0f2f5, white); /* Standard syntax (must be last) */
	
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	transition: 200ms;
	transition-property: box-shadow;
	transition-timing-function: ease-out;
	transition-delay: 50ms;
}
.dashboard-card:hover{
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.dashboard-card-icon{
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 80px;
	color: rgb(238, 238, 238);
	z-index: 0;
}
.dashboard-card-item{
	margin: 0;
	margin-left: 30px;
	z-index: 1;
}
.ant-progress-text{
	font-size: 10px;
}
.dashboard-card-item p {
	margin: 0;
	text-align: left;
	vertical-align: center;
	color: rgb(0, 0, 0, 0.65);
}