<div @fade class="root">

	<!-- Component Header -->
	<div class="row">
		<div class="col-md-12 d-flex justify-content-center align-items-center mb-5">
			<div class="backward">
				<button nz-button nzType="default" (click)="toDashboard()">
					<i nz-icon nzType="dashboard" nzTheme="fill"></i>
					Tableau de bord
				</button>
			</div>

			<div class="mt-5">
				<h4>
					<i class="fas fa-shopping-cart"></i>
					Mon Panier
				</h4>
			</div>

		</div>
	</div>
	<!-- End Component Header -->


	<div class="actions mb-2">
		<button
			class="mr-2"
			(click)="commandClicked()"
			[disabled]="isCommandDisabled"
			nz-button nzType="primary"
			[nzLoading]="commandLoader"
		>
			<i class="fas fa-clipboard-list mr-1" *ngIf="!commandLoader"></i>
			Commander
		</button>
		<button
			class="mr-2"
			(click)="deleteClicked()"
			[disabled]="isDeleteDisabled"
			nz-button
			nzType="danger"
			[nzLoading]="deleteLoader"
		>
			<i class="fas fa-trash-alt mr-1" *ngIf="!deleteLoader"></i>
			Supprimer
		</button>
		<p class="d-inline c-grey">
			({{ countCheckedData }} / {{ checkedData.length }})
		</p>
	</div>
	<div class="center">
		<nz-table #filterTable [nzData]="listOfDisplayData" [nzScroll]="{ x: '500px' }" nzBordered>
			<thead (nzSortChange)="sort($event)" nzSingleSort>
				<tr>
					<th
						nzLeft="0px"
						nzWidth="20px"
					>
						<!-- ------ -->
					</th>
					<th
						nzWidth="300px"
						nzShowSort
						nzSortKey="product.name"
						nzCustomFilter
					>
						Produit
						<nz-dropdown nzTrigger="click" nzPlacement="bottomRight"
							[nzClickHide]="false" nzTableFilter #dropdown
						>
							<i
								nz-icon
								nzType="search"
								class="ant-table-filter-icon"
								[class.ant-table-filter-open]="dropdown.nzVisible"
								nz-dropdown
							></i>
							<div class="search-box">
								<input type="text" autofocus nz-input placeholder="Nom du produit" [(ngModel)]="searchForProduct" />
								<button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
									Chercher
								</button>
								<button nz-button nzSize="small" (click)="resetSearchForProduct()">Réinitialiser</button>
							</div>
						</nz-dropdown>
					</th>
					<th
						nzShowSort
						nzSortKey="product.price"
						nzWidth="300px"
					>
						Prix Unitaire <span class="float-right">x</span>
					</th>
					<th
						nzShowSort
						nzSortKey="quantity"
						nzWidth="150px"
					>
						Quantité <span class="float-right">=</span>
					</th>
					<th
						nzRight="0px"
						nzWidth="300px"
						nzShowSort
						nzSortKey="total_price"
					>
						Prix Total
					</th>
			  </tr>
			</thead>
			<tbody>
				<tr *ngFor="let data of filterTable.data">
					<td
						nzLeft="0px"
						nzShowCheckbox
						[nzDisabled]="!data.product.in_store"
						(nzCheckedChange)="check(data.id)"
					>
					</td>
					<td>
						<span
							(click)="showProductModal(data.product)"
							class="cursor-pointer c-blue hover-blue"
						>
							{{ data.product.name }}
						</span>
						<nz-tag *ngIf="!data.product.in_store" [nzColor]="'#ff373713'" class="c-red ml-2 cursor-default">
							Non disponible
						</nz-tag>
					</td>
					<td>
						<span *ngIf="data.product.sold > 0" class="price-w-sold">
							{{ data.product.price }} <span class="devise">DH</span>
						</span>

						<span>
							{{
								data.product.price - (data.product.price * data.product.sold / 100)
							}}
							<span class="devise">DH</span>
						</span>

						<span class="ml-2" *ngIf="data.product.sold > 0">
							(-{{ data.product.sold }}%)
						</span>

						<span class="float-right">x</span>
					</td>
					<td>
						{{ data.quantity }}
						<span class="float-right">=</span>
					</td>
					<td nzRight="0px">{{ data.total_price }} Dh</td>
				</tr>
			</tbody>
		</nz-table>
	</div>
</div>